.card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.2em;
    margin-top: 12%;
}

/* buuton-update-color  */
.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #000;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
}

.color-circle:hover {
    opacity: 0.8;
}

/* button-delete */
.delete-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ff0000;
}

/* button-update-text */
.save-button{
    margin-top: 2%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 26px;
}
